body {
	background: url(https://i.stack.imgur.com/p9mUO.jpg) no-repeat center fixed;
	background-size: 100% 100%;
	color: #ffffff;
	margin: 0 auto;
	padding: 0;
	position: relative;
	font-family: "Times New Roman";

}

.signup-heading-form {
	background-color: #3CBC8D;
	text-align: center;
	border-radius: 10px;
	color: #000000;
}

.btn-primary {
	font-size: 26px;
	transition-duration: 0.4s;
}

.btn-primary:hover {
	color: #56b4e9;
}

.signup-form {
	position: relative;
	top: 60px;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
	border-color: #c5f5f0;
	font-weight: bold;
}

.signup-form .form-control {
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    height: 35px;
}

@keyframes example {
	from {left: -200px;}
	to {left: 1315px;}
}

.img-cat {
	position: absolute;
	left: -200px;
	animation-name: example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}